// Colors
$primary: #40FF02;
$bright-blue: #1C75BC;
$dark-blue: #010011;
$medium-blue: #151E3F;
$heading-font: "gabriella", sans-serif;
$body-font: "forma-djr-display", sans-serif;

// font-family: forma-djr-display, sans-serif;
// font-weight: 400;
// font-style: italic;

@mixin headingXL($font-size) {
  font-family: $heading-font;
  font-weight: 900;
  font-style: normal;
  font-size: $font-size;
  line-height: 110%;
}

@mixin body($weight, $font-size){
  font-family: $body-font;
  font-weight: $weight;
  font-size: $font-size;
  line-height: 150%;
}

// Fonts
.heading__xl
{
  font-family: $body-font;
  font-weight: 900;
  font-style: normal;
  font-size: 64px;
  line-height: 110%;
}

.heading__l{
  font-size: 48px;
  font-weight: bold;
  line-height: 110%;
}

.heading__m{
  font-size: 24px;
  font-weight: bold;
  line-height: 110%;
}

.heading__s{
  font-size: 20px;
  font-weight: bold;
  line-height: 110%;
}